* {
    margin: 0;
    font-weight: normal;
    padding: 0;

}

:root {
    --palette-aqua: rgb(100, 194, 205);
    --palette-blue: rgb(48, 82, 160);
    --palette-pink: rgb(162, 95, 162);
    --palette-purple: rgb(57, 41, 113);
    --palette-yellow: rgb(223, 180, 69);
}

header {
    margin: auto;
    width: 40%;
    padding: 50px;
}

.site-title {
    font-family: 'Cinzel Decorative', cursive;
    font-weight: 700;
    font-size: 5rem;
    color: var(--palette-yellow);
    text-align: center;

}

.small-head {
    font-size: 3rem;
    font-weight: 400;
}